.main-header {
    padding: 1rem 0;
}
.main-header nav {
    width: 768px;
    background-color: #f8f9fa;
    margin: 0 auto;
    padding: 0.6rem 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;

}
.main-header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.main-header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease-in, transform 0.3s ease-in;
    position: relative;
    display: block;
}
.main-header ul li a:hover {
    color: #007bff;
}
.main-header ul li a.active {
    color: #007bff;
    /* Remove transform: translateY(-5px); */
}
.main-header ul li a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: transparent;
    top: 30px;
    left: 50%; /* Adjusted left position */
    transform: translateX(-50%); /* Centering the pseudo-element horizontally */
    transform-origin: 50% 0; /* Setting transform origin to center horizontally */
    transition: width 0.3s ease-out;
}
.main-header ul li a.active::after {
    background-color: #007bff;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .main-header {
        padding: 0;
    }
    .main-header nav {
        width: 100%;
    }
    
}
