#datos-restaurante form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#datos-restaurante  {
    border: 1px solid #9c9b9b;
    border-radius: 5px;
    padding: 20px;
}
#datos-restaurante input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
#datos-restaurante h1 {
    text-decoration: underline 1px solid #ccc;
    line-height: 1.5;
}