#personal-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
#personal-section table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}
#personal-section table th, table td {
    border: 1px solid #ccc;
}
#personal-section table tr {
    transition: background-color 0.2s ease;
}
#personal-section table tr:hover {
    background-color: #96daff4a;
}
#personal-section input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
    height: 100%;

}


a.delete {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
a.delete:hover {
    color: darkred;
}
a.save.changed {
    color: green;
    cursor: pointer;
    text-decoration: underline;
}
a.save.changed:hover {
    color: darkgreen;
}
a.save {
    color: #333;
    cursor: not-allowed;
    text-decoration: underline;
}