#personal-section input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
    height: 100%;

}


a.delete {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
a.delete:hover {
    color: darkred;
}
a.save.changed {
    color: green;
    cursor: pointer;
    text-decoration: underline;
}
a.save.changed:hover {
    color: darkgreen;
}
a.save {
    color: #333;
    cursor: not-allowed;
    text-decoration: underline;
}