.start-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
}
.start-page-box {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #242424;
    box-shadow: 15px 10px 0 rgb(48, 48, 48);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.5s ease;
    font-size: 1.5rem;
}
.start-page-box:hover {
    background-color: #242424;
    color: white;
    box-shadow: 15px 10px 0 rgb(0, 0, 0, 0.5);
}